/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: #ffffff;
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased !important;
}

body,
html {
    width: 100%;
    height: 100%;
}

ul,
ol,
li {
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
}

nav {
    display: flex;
    height: 10vh;
    background: #7e0e0e;
}

.logo {
    display: flex;
    margin-left: 10;
    align-items: center;
    margin-left: 30px;
}

img {
    width: 30px;
    height: 30px;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 30%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    nav {
        position: relative;
    }
    .menu-burger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    .nav-links {
        position: fixed;
        background: #812121;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(00px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .main {
        flex-direction: column;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 1;
    }
}

.name-nav {
    cursor: pointer;
}

main {
    max-width: 50vh;
    flex-direction: column;
    margin: 0 auto;
}

.newPost {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.8);
}

.infoUser {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgUser {
    width: 35px;
    height: 35px;
    background-color: gray;
    border-radius: 50%;
}

.nameUser {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(214, 43, 123) margin-left: 10px;
    text-transform: capitalize;
    cursor: pointer;
}

.formPost {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formPost textarea {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 8px 0;
    padding: 8px;
    background-color: #fff;
    border-radius: 5px;
    border-color: rgb(214, 43, 123) text-align: start;
    resize: none;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    outline: none;
    color: #383838;
}

.inputUpimg {
    display: none;
}

.iconButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnFileForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 3px;
    margin: 3px 0;
    margin-right: 3px;
    padding: 3px;
    background-color: transparent;
    color: rgb(214, 43, 123);
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: right;
}

.btnSubmit {
    outline: none;
    border: none;
    border-radius: 3px;
    margin: 3px 0;
    padding: 3px 10px;
    background-color: rgb(214, 43, 123);
    color: #fbfbfb;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
}

.inputPostUser {
    margin-right: 2px;
}

.posts .post {
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.8);
}

.infoUserPost {
    display: flex;
    align-items: center;
}

.hourPost {
    margin-left: 10px;
    align-items: center;
    color: #6b6b6b;
    font-size: 12px;
    font-size: bold;
    font-weight: 300;
}

.imgUserPost {
    width: 35px;
    height: 35px;
    background-color: gray;
    border-radius: 50%;
}

.comentUser {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.2px;
    display: flex;
    margin: 8px 0;
    padding: 8px;
    color: #383838;
}

.btnreaction {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 3px;
    margin: 3px 0;
    padding: 5px 5px;
    background-color: transparent;
    color: rgb(214, 43, 123);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
}

.actionBtnPost {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: initial;
}

.area-comments {
    display: none;
} */