/*-----------------Responsividade ---------------------*/

@media only screen and (min-width: 700px) {
	.post-area-image {
		width: 40%;
		height: 60%;
		margin: 1% 30%;
	}
}

@media only screen and (min-width: 1024px) {
	.profile-area {
		flex-direction: column;
		height: 345px;
		border: 2px solid rgb(252, 221, 221);
		border-radius: 4px;
		margin-top: 10px;
		padding: 0px;
	}
	.profile-area-theme {
		background-color: lightgray;
		width: 100%;
		height: 50%;
		margin-bottom: 10px;
	}
	.share-area,
	.post-area {
		height: fit-content;
	}
	.box-feed {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		margin: auto;
	}
	.share-and-post {
		width: 60%;
	}
	.profile-area-photo-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		padding-top: 0px;
	}
	.slogan-desktop {
		display: block;
	}
	.box {
		flex-direction: row;
		height: 600px;
	}
	.box-item {
		width: 50%;
	}
	.logos-home {
		width: 60%;
		height: 40%;
	}
	.login-area {
		width: 55%;
	}
	.button-area {
		width: 35%;
	}
	.post-area-image {
		margin: 0px;
		width: 70%;
		margin: 1% 15%;
	}
	.theme-image {
		display: block;
		width: 100%;
		height: 237px;
	}
}
@media only screen and (min-width: 1440px) {
	.box {
		height: 716px;
	}
}

@media only screen and (min-width: 1440px) {
	.box {
		height: 716px;
	}
}
